  <nav>
    <span class="openbtn mobile-only">&equiv;</span>
    <div id="myNav" class="mynav">
      <span class="closebtn mobile-only">&times;</span>
      <div class="mynav-items">
        <a href="/"><%= image_tag("logo2.png", class: "logo desktop-only") %></a>
        <div class="mynav-links">
          <a href="/" class="mynav-link">Home</a>
          <a href="/about" class="mynav-link">About</a>
          <a href="/photos" class="mynav-link">Gallery</a>
          <a href="/contact" class="mynav-link">Contact</a>
          <a href="#" class="mynav-link fab fa-instagram"></a>
        </div>
      </div>
    </div>
  </nav>

  <script>
    const openBtn = document.querySelector('.openbtn');
    openBtn.addEventListener('click', function() {
      document.getElementById("myNav").style.height = "100%";
    });


    const closeBtn = document.querySelector('.closebtn');
    closeBtn.addEventListener('click', function() {
      document.getElementById("myNav").style.height = "0%";
    });
  </script>
