.contact-header {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), image-url("contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  padding: 24px 50px 24px 50px;
  width: 100%;
  height: 100vh;
}

.contact-header h1 {
  color: white;
  margin-bottom: 30px;
  font-weight: lighter;
}

.contact-button {
  letter-spacing: 0;
}

.contact-text {
  color: white;
  opacity: 0.5;
  margin-bottom: 45px;
}

