// header

.home-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 24px 50px 24px 50px;
}

.home-header h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 25px;
  font-family: 'Amiri', serif;
  font-weight: lighter;
}

.sub-text {
  color: white;
  opacity: 0.5;
  text-shadow: 1px 1px 2px #000000;
  margin-bottom: 50px;
}

.button-nina {
  color: white;
  opacity: 0.5;
  text-shadow: 1px 1px 2px #000000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  transition: 0.3s;
}

.button-nina:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

// zoom effect

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out both;
          animation: kenburns-top 5s ease-out both;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@media (max-width: 768px) {

  .home-header h1 {
    color: white;
    font-size: 33px;
    margin-bottom: 25px;
    font-family: 'Amiri', serif;
    font-weight: lighter;
  }

  .sub-text {
    color: white;
    font-size: 19px;
    opacity: 0.5;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 50px;
  }

}
