.home-header {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("boat6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 24px 50px 24px 50px;
}

.hp-text {
  margin-top: 15vh;
  width: 50%;
}

.home-header h1 {
  color: white;
  margin-bottom: 15px;
  font-weight: lighter;
}

.sub-text {
  color: white;
  opacity: 0.5;
  padding-bottom: 15px;
}

.button-nina {
  color: white;
  opacity: 0.5;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  transition: 0.3s;
}

.button-nina:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

@media (max-width: 768px) {
 .hp-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 0;
 }

 .home-header {
   background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("boat7.jpg");
 }
}


