<div class="pages-header">
  <%= render "components/navbar" %>
    <h3 class="pages-title align-center text-shadow text-focus-in">ABOUT NINA</h3>
</div>

<div class="specifics row">

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">LENGTH</h4>
      <p class="details">90.1m (295.6ft)</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">BUILT</h4>
      <p class="details">2007 (refitted 2016)</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">CREW</h4>
      <p class="details">3</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">GUESTS</h4>
      <p class="details">12</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">GUESTS CABIN</h4>
      <p class="details">6</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">CABIN TYPES</h4>
      <p class="details">6 (4 × double, 2 × twin)</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">MAX SPEED</h4>
      <p class="details">17 knots</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">CRUISING SPEED</h4>
      <p class="details">14 knots</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">FUEL CONSUMPTION</h4>
      <p class="details">432 litres per hour</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">ENGINES</h4>
      <p class="details">2 × 2,333hp Caterpillar</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">WATER SPORTS</h4>
      <p class="details">2 x paddleboards</p>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="specific" data-aos="zoom-in">
      <h4 class="title">ENTERTAINMENT</h4>
      <p class="details">WiFi, SKY, Netflix</p>
    </div>
  </div>

</div>

<script>
  AOS.init({
  duration: 1200,
})
</script>
