<!-- HEADER -->

<div class="pages-header">
  <%= render "components/navbar" %>
    <h3 class="pages-title align-center text-shadow text-focus-in">ABOUT NINA</h3>
</div>
<!-- DESCRIPTION -->

<div class="box description">
  <h4 data-aos="zoom-in">Description</h4>
  <p data-aos="zoom-in">Designed and built to exacting standards, the breathtaking NERO has the authentic charm and elegance of the glamorous 1920's, complete with the state-of-the-art technology of a modern world class superyacht. Following her extensive refit in 2016, NERO features a beautiful interior by renowned designer, Laura Pomponi, combining contemporary and classic design. This elegant superyacht is a proven charter platform for the most discerning clients.</p>
</div>

<!-- SPECIFICATIONS -->

<div class="box" data-aos="zoom-in">

  <h4>Specifications</h4>

  <div class="specifics row">

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">LENGTH</h5>
          <p class="details">28m (92ft)</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">BUILT</h5>
          <p class="details">1964 (refitted 2019/2020)</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">CREW</h5>
          <p class="details">4</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">GUESTS</h5>
          <p class="details">7</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">GUESTS CABIN</h5>
          <p class="details">4</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">CABIN TYPES</h5>
          <p class="details">1 × double, 2 × twin, 1 x single (All with ensuite)</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">MAX SPEED</h5>
          <p class="details">17 knots</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">CRUISING SPEED</h5>
          <p class="details">11 knots</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">FUEL CONSUMPTION</h5>
          <p class="details">70 l/h at cruising speed</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">ENGINES</h5>
          <p class="details">2 aifo 740 hp</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">WATER SPORTS</h5>
          <p class="details">2 x paddleboards</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="specific" data-aos="zoom-in">
        <div class="spec">
          <h5 class="title">ENTERTAINMENT</h5>
          <p class="details">WiFi, SKY, Netflix, Sonos</p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="box" >
  <h4 data-aos="zoom-in">Deck plan</h4>
  <p class="deckplan" data-aos="zoom-in"><%= image_tag("deckplan3.jpg") %></p>
</div>

<script>
  AOS.init({
  duration: 1200,
})
</script>

