<!-- HEADER -->

<div class="contact-header">
  <%= render "components/navbar" %>
  <div class="hp-text">
    <h1 class="text-shadow text-focus-in letter-spacing">CONTACTS</h1>
    <p class="contact-text text-shadow text-focus-in-2">Please feel free to send an email to <em>nina@gmail.com</em> if you have any questions regarding pricing, specifications or availability.</p>
    <p class=" contact-button text-shadow text-focus-in-3"><%= link_to "Enquire Now", "mailto:info@caprientertainment.it?", class: "button-nina" %></p>
  </div>
</div>

<!-- INFORMATION -->

<!-- <div class="box description">
  <h4 data-aos="zoom-in">Contact us</h4>
  <p data-aos="zoom-in">Please feel free to send us an email if you have any questions regarding pricing, specifications or availability. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
  <p data-aos="zoom-in"><%= link_to "Enquire Now", "mailto:info@caprientertainment.it?", class: "button-nina-blue" %></p>
</div> -->


