<div class="home-header" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path("boat6.jpeg")%>')">
  <%= render "components/navbar" %>
  <div class="hp-text text-focus-in">
    <h1>NINA SPIRIT OF THE WIND</h1>
    <p class="sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    <p><%= link_to "Discover Nina", about_path, class: "button-nina" %></p>
   </div>

