<div class="home-header">
  <%= render "components/navbar" %>
  <div class="hp-text">
    <h1 class="text-shadow text-focus-in letter-spacing">NINA</h1>
    <p class="text-shadow sub-text text-focus-in-2 letter-spacing">Timeless appeal</p>
    <p class="text-shadow text-focus-in-3"><%= link_to "Discover", about_path, class: "button-nina" %></p>
  </div>
</div>


