<div class="home-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path("boat5.jpg")%>')">
  <%= render "components/navbar" %>
  <div class="center-hv">
    <h1 class="align-center"><em>NINA SPIRIT OF THE WIND</em></h1>
    <p class="align-center sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
   <!--  <p class="align-center"><%= link_to "See details", about_path, class: "button-nina" %></p> -->
  </div>
</div>
