<div class="home-header kenburns-top" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path("boat2.jpg")%>')">
  <nav>
    <div class="mynav">
      <a href="/"><img src="<%= image_path("logo.png")%>" alt="" class="logo desktop-only"></a>
      <div class="mynav-items">
        <a href="#" class="mynav-link">About</a>
        <a href="#" class="mynav-link">Gallery</a>
        <a href="#" class="mynav-link">Contact</a>
        <a href="#" class="mynav-link fab fa-instagram"></a>
      </div>
   </div>
  </nav>
</div>
