  <div class="home-header">
    <%= render "components/navbar" %>
    <div class="hp-text">
      <h1 class="text-focus-in">NINA SPIRIT OF THE WIND</h1>
      <p class="sub-text text-focus-in-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      <p class="text-focus-in-3"><%= link_to "Discover Nina", about_path, class: "button-nina" %></p>
     </div>
  </div>


