.logo {
    width: 90px
}

.mynav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mynav-link {
  padding: 8px;
  margin: 0 8px;
  font-size: 16px;
  color: white;
  opacity: 0.5;
  transition: 0.3s;
  // text-shadow: 1px 1px 2px #000000;
}

.mynav-link:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.closebtn,
.openbtn {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 60px;
}

.openbtn {
  color: #FCF9EF;
}

.closebtn {
  color: #03012C;
}

@media (max-width: 768px) {

  .mynav {
    margin: 0;
    height: 0%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FCF9EF;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .mynav-items {
    position: relative;
    top: 20%;
    width: 100%;
    height: 60vh;
  }

  .mynav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .mynav-link {
    color: #03012C;
    opacity: 1;
    font-size: 35px;
    transition: 0.3s;
    text-shadow: none;
  }
}


