.logo {
    width: 90px
}

.mynav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 24px 50px 24px 50px;
}

.mynav-link {
  padding: 8px;
  margin: 0 8px;
  font-size: 16px;
  color: white;
  opacity: 0.5;
  transition: 0.3s;
}

.mynav-link:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

